CSS Document */

/*公共部分*/
a{text-decoration:none; color:#808080;}
a:hover{text-decoration:none;; color:#178CDC;}
img{border:medium none;}
﻿ body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0 auto;padding:0;}
li{list-style:none;overflow:hidden;}
body{font-family: "Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;font-size:12px; color:#000;padding:0px; margin:0px auto; color:#666; background:#ECECEC none repeat scroll 0% 0%; }
.left{float:left;}
.right{ float:right;}
.both{clear:both}
.hr5{ height:5px; overflow:hidden; line-height:1px; clear:both;}
.hr10{ height:10px; overflow:hidden; line-height:1px; clear:both;}
.font12{ font-size:12px;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}

/*body部分*/
.head{font-family: "Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
position: fixed;
top: 0px;
left: 0px;
width: 100%;
background: #FFF none repeat scroll 0% 0%;
height: 62px;
z-index: 999;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
box-sizing: content-box;}
.container{
max-width: 1170px;
margin: 0px auto;
position: relative;
}
.container .logo{width: 61.5px;
height: 34.5px;
position: absolute;
top: 15px;
left: 0px;}
.logo img {
    width: 100%; max-width:100%;
}
.head .nav{padding-left: 102px; float:left;}
.head .nav ul{ list-style:outside none none;}
.head .nav ul li{float: left;position: relative;}
.head .nav ul li a{display: block;
padding: 0px 15px;
margin: 0px 5px;
line-height: 62px;
height: 62px;
overflow: hidden;
box-sizing: border-box;
color:#333;
font-size:15px; font-family:"Microsoft YaHei"}
.head .nav ul li a:hover{color:#178FE6; text-decoration:none;}
.head .nav ul li.active a {
    border-bottom: 2px solid #178FE6;
    color: #000;
    font-weight: 600;
	}
.navsub{float: right;
height: 62px;
margin-right: 20px;}
.navsub ul li{float: left;
position: relative;
height: 62px;}
.navsub ul li a{padding: 17px 15px;display: block;  color: #000; font-size:15px; }
.navsub ul li a:hover{color:#178FE6; text-decoration:none;}
.navsub ul li a img{display: block;
width: 30px;
height: 30px;
border-radius: 30px;}

/*container部分*/
.navsub ul li a {padding: 0px 15px;display: block;color: #000;font-size: 15px;}
.container{ width:1200px; margin:0 auto; padding:0px 15px;color:#32353D;}
.ctn-wrap{ background:#FFFFFF;border: 1px solid #DDD;min-height: 500px;}
.form-title{ width:100%; padding:40px 0px; text-align:center; font-size:27px; font-weight:500; line-height:30px; height:30px; }
.create-from{margin-left: 218px; line-height:32px; font-size:13px;}
.form_grop{margin-right: -15px;margin-left: -15px;}
.label-control{ float:left; height:32px; width:134px; font-weight:400; text-align:right; line-height:32px; clear:both;}
.required{color:#F00; margin-left:5px;}
.form-input{width: 454px; float:left; margin-left:20px; padding: 6px 12px;border: 1px solid #CCC; border-radius: 2px; display: block; color: #555; height:20px;}
.form-st{width: 155px; float:left; margin-left:20px; padding: 6px 12px;border: 1px solid #CCC; border-radius: 2px; display: block; color: #555; height:32px;}
.form-tt{width: 454px; float:left; margin-left:20px; padding: 6px 12px;border: 1px solid #CCC; border-radius: 2px; display: block; color: #555; height:70px;}
.enter-total{ display:block; font-size:12px; margin-top:5px; margin-left:154px;}
.file-upload{ width:70px; height:70px;border-radius: 4px; overflow:hidden; position:relative; text-align:center;cursor: pointer; float:left; margin-left:20px;}
.ng-scope{ position: absolute; width:100%;line-height: 30px; color:#FFFFFF;background-color: #666;bottom: 0px;left: 0px; display:block;}
.form-sp{ margin-left:20px; display:inline;}
.form-cmt{width: 250px; text-align:center;font-weight: 400;white-space: nowrap;font-size: 13px; margin-left:20px; background-color:#178FE6; padding: 6px 12px;border: 1px solid #CCC; border-radius: 4px; line-height:32px; border:none; display: block; color: #fff; height:32px;}